* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #102a5b,
    #253b80,
    #404ba7,
    #605bcd
  );
  min-height: 100vh;
}
